.navbar-default{
    background-color: #0C3E7D;
    height: 80px;
}

h5{
    color: rgb(79, 126, 214);
}
h1{
    color: 	#ea6e17;
}
p{
    margin: 0 0 5px;
}
.panel-filter{
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
    -webkit-box-shadow: 1px 3px 1px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 1px 3px 1px 1px rgba(0,0,0,0.08);
    box-shadow: 1px 3px 1px 1px rgba(0,0,0,0.08);
}
.almundo-icons{
    width: 20px;
    height:20px
}
.searchImg{
    background: url('../assets/icons/filters/search.svg');
    background-size: 20px 17px;
    height: 17px;
    width: 20px;
    float: left;
    color:#8BABBF;
    margin-top:10px
}

.starImg{
    background: url('../assets/icons/filters/star.svg');
    background-size: 20px 17px;
    height: 17px;
    width: 20px;
    float: left;
    color:#8BABBF;
    margin-top:10px;
}
.starHotel1{
    background: url('../assets/icons/filters/starHotel.svg');
    background-size: 20px 17px;
    height: 17px;
    width: 20px;
    display:inline-block;
}


.starsRate{
    margin-bottom: 20px;
    padding-left:0px;
}
.btn-default{
    background-color: #002B7D;
    color: white;
}

.panel-list{
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-box-shadow: 1px 3px 1px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 1px 3px 1px 1px rgba(0,0,0,0.08);
    box-shadow: 1px 3px 1px 1px rgba(0,0,0,0.08);
}
@media (min-width: 768px){
    .panel-list{
        width: 65%;
        padding: 10px;
    }
}
.price-detail{
    text-align: center;
    border-left: 1px dashed;
}
.currency{
    font-size: 26px;
    font-weight: 300;
}
@media (max-width: 768px){
.hotel-details{
    text-align:center; 
}
}